@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color : #fefefe;
    --hover-color : #f7f9ff;
    --banner-color : #f7f9ff;; 
    --text-color : #25272e;
    --sub-text :  #4c74b5;
    --footer-color : #25272e;
    --yellow: #ffc107;
    --red: #dc3545;
}

footer{
    position: static;
    padding: 60px 120px 25px 120px;
    bottom: 0;
    width: 100%;

    background-color: var(--footer-color);
    color: #fefefe;
    font-family: Arial, sans-serif;

    margin: 0px auto;

    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    gap: 120px; /* Espace entre les éléments */
    text-align: center;
    width: 100%;
}

.footer-logos img{
    height: 75px;
    width: 100%;
}

h3{
    font-size: 1rem;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    margin-bottom: 5px;
}

footer a{
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.footer-bottom{
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

@media  screen and (max-width: 1200px){
    .footer-logos img{
        display: none;
    }

    .footer-container{
        gap: 25px;
    }
}

@media  screen and (max-width: 768px){
    footer{
        padding: 30px 120px 25px 120px;
    }

    .footer-container{
        flex-direction: column; /* Place les éléments en colonne */
        text-align: center;
        align-items: center;
        gap: 35px;
    }
    
}
