@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color : #fefefe;
    --hover-color : #f7f9ff;
    --banner-color : #f7f9ff;; 
    --text-color : #25272e;
    --sub-text :  #4c74b5;
    --footer-color : #25272e;
    --yellow: #ffc107;
    --red: #dc3545;
    --secondary: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins, "Segoe UI", sans-serif;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    min-height: 100dvh;
}

/* Section principale */
.intro {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;
    min-height: 600px; /* OU min-height: 80vh;  */

    margin: 0px auto;
    padding: 0px 120px; 
    width: 100%;
}

/* Image de fond en arrière-plan */
.intro-background-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6; /* Ajuste la transparence pour une meilleure lisibilité */
    z-index: -1;  /* Place l'image en arrière-plan */
}

/* Conteneur texte + image */
.intro-text {
    padding: 50px;
}

/* Texte */
.intro h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: var(--text-color); /* Assure une bonne lisibilité */
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

/* Image de la carte */
.intro-img {
    position: relative;
    max-width: 400px;
}

/* Bouton */
.intro-btn {
    display: inline-block;

    background-color: var(--text-color);
    color: var(--banner-color);

    padding: 12px 24px;
    margin-top: 15px;
    border-radius: 6px;

    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

    transition: background 0.3s ease;
}

/* A MODIFIER LA COULEUR */
.intro-btn:hover {
    background-color: var(--sub-text); 
}

/* BANNER */
.banner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 50px 120px;
    margin: 0px auto;

    background-color: var(--banner-color); /* Fond clair */
    color: var(--text-color);

    font-size: 16px;
    line-height: 1.5; /* Mettre en cohérence avec les autres line-height */

    gap: 40px; /* Espacement entre le graphique et le texte */
}

/* .banner-graphique {
    height: 300px;
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
    border: none; 
} */

.banner-graphique{
    max-height: 300px;
    border-radius: 6px;
    /* padding-right: 75px; */
}

.banner ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.banner ul li {
    padding: 0px 25px;
    text-align: center;
    font-size: 18px;
}

.banner ul li:nth-child(1) {
    color: var(--yellow); /* Jaune */
    border-right: 2px solid var(--secondary);
}

.banner ul li:nth-child(2) {
    color: var(--red); /* Rouge */
    border-right: 2px solid var(--secondary);
}

.banner ul li:nth-child(3) {
    color: var(--sub-text); /* Bleu */
}

.banner ul li span {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.banner p {
    margin-top: 20px; /* Espacement avec la liste */
    text-align: center; /* On centre le paragraphe pour qu'il soit centré avec la liste de donnée */
    font-size: 16px;
    line-height: 1.6;
}

#presentation{
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1.5;

    margin: 0px auto;
    padding: 25px 120px;

    background-color: var(--primary-color);
}

.presentation-text{
    text-align: justify;
}

#presentation h1{
    padding: 25px 0px;
    font-size: 2rem;
    color: var(--red);
}

#presentation p{
    font-size: 16px;
    color: var(--text-color);
    padding: 0px 0px 25px 0px;
}

.pres-img{
    padding-left: 75px;
    max-height: 400px;
    border-radius: 6px;
}

.map{
    background-color: var(--banner-color); 
    text-align: center;
    
    width: 100%; 

    padding: 35px 0px;
    margin: 0px auto;
}

.map h2{
    font-size: 2rem; 
    padding-bottom: 25px;
}

@media  screen and (max-width: 850px){
    /* Image de la carte */
    .intro-img {
        display: none;
    }

    .banner-graphique{
        display: none;
    }

    .pres-img{
        display: none;
    }
}
