@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color : #fefefe;
    --hover-color : #f7f9ff;
    --banner-color : #f7f9ff;; 
    --text-color : #25272e;
    --sub-text : #08a045;
    --footer-color : #25272e;
}

nav{
    /* background-color: var(--primary-color); */
    /* border-bottom: 1px solid var(--hover-color); */
    background: rgba(255, 255, 255, 0.3); /* Ajoute un fond semi-transparent */
    padding-right: 5%;
    padding-left: 5%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav .logo-li{
    margin-right: auto;
}

nav li{
    display: flex;
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
    transition: background-color 150ms ease;
    text-align: center;
    align-items: center;
}

/* MODIFIER LA COULEUR */
nav a:hover{
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--text-color);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media  screen and (max-width: 950px){
    header{
        margin: 0;
    }

    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }

    nav{
        background-color: var(--primary-color);
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-out;
    }

    nav.show{
    right: 0;
    }

    nav.show ~ #overlay{
        display: block;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
    }

    nav ul{
        width: 100%;
    }


    nav a{
        width: 100%;
        padding-left: 2.5em;
        justify-content: center;
    }

    nav a.active-link{
        border-bottom: none;
    }

    nav .logo-li{
        display: none;
    }
}